:root {
  --disabled-background-color: #e9ecef;
}

/* Container for the entire component */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
/* Styling for the title */
.title {
  color: #007bff;
  font-family: 'Quicksand', sans-serif; /* Apply Quicksand font */
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center; /* Center align the title */
}
/* Styling for the input box */
.input-box {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #007bff;
  border-radius: 4px;
  font-size: 16px;
}

/* Styling for the send button */
.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.send-button:hover {
  background-color: #0056b3;
}

/* Styling for the output box (read-only text area) */
.output-box {
  width: 70%;
  height: 150px;
  padding: 10px;
  border: 2px solid #28a745;
  border-radius: 4px;
  font-size: 16px;
  color: #212529;
  overflow-y: auto;
  min-width: 600px;
}

/* Additional styling for read-only state */
.output-box[readonly] {
  background-color: var(--disabled-background-color);
  opacity: 1;
}

/* Styling for the dropdown menu */
.dropdown-container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.dropdown-menu {
  padding: 1px;
  margin-bottom: 10px;
  border: 2px solid #007bff;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: #212529;
}

.dropdown-menu:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Styling for the dropdown menu options */
.dropdown-menu option {
  background-color: #e7e7e7;
  color: #007bff; /* Text color */
  padding: 10px; /* Padding for each option */
}

.dropdown-menu option:hover, .dropdown-menu option:focus {
  background-color: var(--disabled-background-color);
}
