<div class="container">
  <div class="dropdown-container">
    <select class="dropdown-menu" [(ngModel)]="model">
      <option *ngFor="let modelName of models" [value]="modelName">{{modelName}}</option>
    </select>
  </div>
  <h1 class="title">{{model.toUpperCase()}}</h1>
  <input type="text" class="input-box" [(ngModel)]="userInput"  (keyup.enter)="sendRequest()" placeholder="Ask me anything :)">
  <button class="send-button" (click)="sendRequest()">Send</button>
    <textarea class="output-box" readonly>{{ responseText }}</textarea>
</div>
